{% load static %}
  {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/deportista.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  <title>Colombia en Tokio 2020</title>
</head>

<body>
  <div class="container-fluid contenedorNav">
    <div class="row">
      <a href="/" style="width:100vw;">
        <h1 class="titulo col-0 col-sm-0 col-md-8 col-lg-8">Colombia en Tokio 2020</h1>
      </a>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-5 centrar">
        <img id="imagenDeportista" src="" />
        <br>
        <img id="iconoDeporte" src="">
      </div>
      <div class="col-7 centrar">
        <h1 id="nombreDeportista"></h1>
        <h2 id="fechaNacimiento"></h2>
        <h4 id="edad"></h4>
        <h4 id="peso"></h4>
        <h4 id="estatura"></h4>
        <h4 id="entrenador"></h4>
      </div>
    </div>
  </div>
  <div class="linea">
  </div>
  <h1>Participaciones</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>
      <th scope="col">Modalidad</th>
      <th scope="col">Resultado</th>
      <th scope="col">Video</th>
    </tr>
  </thead>
  <tbody id="table_content">

  </tbody>
</table>
                  <input id="linkVideo" name="linkVideo" type="hidden" value="https://www.youtube.com/watch?v=x0CJKvevs2M">
                  <button class="video-comment btn btn-primary" type="button" onclick="abrir_modal()" name="button">Video/Comentarios</button>

        </div>
    </div>
{% bootstrap_javascript jquery='full' %}
</body>
<script>

  function abrir_modal(url)
    {
            $('body').append(modalDiv);
            $('#modal').load("{% url 'video_comment' %}", function()
            {
                    $(this).modal('show');
            });
            return false;
    }
    var modalDiv = '<div class="modal fade" tabindex="-1" role="dialog" id="modal"><div class="modal-dialog" role="document"><div class="modal-content"></div></div></div>';
    function cerrar_modal()
        {
                $('#modal').modal('hide');
        }
  fetch("/infoSportman?id={{id}}").then(response => {
    response.json().then(data => {
      deportista = data[0];
      document.getElementById("imagenDeportista").src = deportista.foto;
      document.getElementById("iconoDeporte").src = deportista.icono;
      document.getElementById("nombreDeportista").innerHTML = deportista.nombre + " " + deportista.apellido;
      document.getElementById("fechaNacimiento").innerHTML = deportista.fechanacimiento;
      document.getElementById("edad").innerHTML = "edad: " + deportista.edad + " años";
      document.getElementById("peso").innerHTML = "peso: " + deportista.peso + " kg";
      document.getElementById("estatura").innerHTML = "estatura: " + deportista.estatura + " cm";
      document.getElementById("entrenador").innerHTML = "entrenador: " + deportista.nombreentrenador + " " + deportista.apellidoentrenador;
    })
  })

  fetch("/infoParticipation?id={{id}}").then(response => response.json()).then(participaciones=>{
           let row ="";
          participaciones.forEach(p=>row=row+
          "<tr>" +
          "<td>"+p.fecha+"</td>" +
          "<td>05:00</td>" +
          "<td>"+p.descripcion+"</td>" +
          "<td>"+p.resultado+"</td>" +
          "<td class=\"text-center\"><span><a href=\"/infovideo?link="+p.linkVideo+"\"><i class=\"fas fa-camera-retro\"></i></a> </span> </td>" +
          "</tr>"
          )
          document.getElementById("table_content").innerHTML=row;
  }


  )
</script>

</html>