{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/deportista.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Colombia en Tokio 2020</title>
</head>

<body>
  <div class="container-fluid contenedorNav">
    <div class="row">
      <h1 class="titulo col-0 col-sm-0 col-md-8 col-lg-8">Colombia en Tokio 2020</h1>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-5 centrar">
        <img id="imagenDeportista" src="/static/images/nadador.jpg" />
        <br>
        <img id="iconoDeporte" src="/static/images/Natacion.png">
      </div>
      <div class="col-7 centrar">
        <h1 id="nombreDeportista"></h1>
        <h2 id="fechaNacimiento"></h2>
        <h4 id="edad"></h4>
        <h4 id="peso"></h4>
        <h4 id="estatura"></h4>
        <h4 id="entrenador"></h4>
      </div>
    </div>
  </div>
  <div class="linea">
  </div>
  <h1>Participaciones</h1>
</body>
<script>
  fetch("/infoSportman?id={{id}}").then(response => {
    console.log(response);
    document.getElementById("nombreDeportista").innerHTML = "Mateo Devia"
    document.getElementById("fechaNacimiento").innerHTML = "20 ago 1998"
    document.getElementById("edad").innerHTML = "edad: " + "21 años"
    document.getElementById("peso").innerHTML = "peso: " + "65 kg"
    document.getElementById("estatura").innerHTML = "estatura: " + "178 cm"
    document.getElementById("entrenador").innerHTML = "entrenador: " + "Julian Perez"
  })
</script>

</html>